<div class="block w-full md:w-52 flex-none">
  <menu-active>
    <ul class="menu px-0">
      <li class="menu-title py-0 !bg-transparent mb-3 -mt-5"><a href="<%= '/' %>" class="!bg-transparent !text-neutral font-medium">&larr; Back</a></li>
      <li class="menu-title py-0 !bg-transparent"><span class="!bg-transparent">Settings</span></li>
      <li></li>
      <li>
        <%= link_to 'Profile', settings_profile_index_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <li>
        <%= link_to 'Account', settings_account_path, class: 'text-base hover:bg-base-300' %>
      </li>
      <% unless Stonesign.multitenant? %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::EMAIL_SMTP_KEY, account: current_account)) && ENV['SMTP_ADDRESS'].blank? %>
          <li>
            <%= link_to 'Email', settings_email_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::FILES_STORAGE_KEY, account: current_account)) %>
          <li>
            <%= link_to 'Storage', settings_storage_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: 'submitter_invitation_sms', account: current_account)) %>
          <li>
            <%= link_to 'SMS', settings_sms_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to 'Notifications', settings_notifications_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::ESIGN_CERTS_KEY, account: current_account)) %>
        <li>
          <%= link_to 'E-Signature', settings_esign_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% if can?(:read, User) %>
        <li>
          <%= link_to 'Team', settings_users_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <% unless Stonesign.multitenant? %>
        <% if can?(:read, EncryptedConfig.new(key: 'saml_configs', account: current_account)) %>
          <li>
            <%= link_to 'SSO', settings_sso_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
      <% if Stonesign.demo? || !Stonesign.multitenant? %>
        <% if can?(:read, AccessToken) %>
          <li>
            <%= link_to 'API', settings_api_index_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::WEBHOOK_URL_KEY, account: current_account)) %>
          <li>
            <%= link_to 'Webhooks', settings_webhooks_path, class: 'text-base hover:bg-base-300' %>
          </li>
        <% end %>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to 'Personalization', settings_personalization_path, class: 'text-base hover:bg-base-300' %>
        </li>
      <% end %>
      <%= render 'shared/settings_nav_extra' %>
      <% if !Stonesign.demo? && can?(:manage, EncryptedConfig) %>
        <li>
          <%= link_to Stonesign.multitenant? ? console_redirect_index_path(redir: "#{Stonesign::CONSOLE_URL}/plans") : "#{Stonesign::CONSOLE_URL}/on_premise", class: 'text-base hover:bg-base-300', data: { prefetch: false } do %>
            Plans
            <span class="badge badge-warning">New</span>
          <% end %>
        </li>
      <% end %>
      <% if !Stonesign.demo? && can?(:manage, EncryptedConfig) %>
        <li>
          <%= link_to Stonesign.multitenant? ? console_redirect_index_path(redir: "#{Stonesign::CONSOLE_URL}/api") : "#{Stonesign::CONSOLE_URL}/on_premise", class: 'text-base hover:bg-base-300', data: { prefetch: false } do %>
            <% if Stonesign.multitenant? %> API <% else %> Console <% end %>
          <% end %>
        </li>
        <% if Stonesign.multitenant? %>
          <li>
            <%= link_to console_redirect_index_path(redir: "#{Stonesign::CONSOLE_URL}/embedding/form"), class: 'text-base hover:bg-base-300', data: { prefetch: false } do %>
              Embedding
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </menu-active>
  <% if !can?(:manage, :tenants) %>
    <div class="mx-4 border-t border-base-300 hidden md:block">
      <div class="text-sm mt-3">
        Need help? Ask a question:
      </div>
      <div class="flex mt-3 space-x-3">
        <div class="tooltip" data-tip="Corelab">
          <a href="<%= Stonesign::CORELAB_URL %>" target="_blank" class="btn btn-circle btn-primary btn-md">
            <%= svg_icon('brand_corelab', class: 'w-8 h-8') %>
          </a>
        </div>
        <div class="tooltip" data-tip="Discord Community">
          <a href="<%= Stonesign::DISCORD_URL %>" target="_blank" class="btn btn-circle btn-primary btn-md">
            <%= svg_icon('brand_discord', class: 'w-8 h-8') %>
          </a>
        </div>
        <div class="tooltip" data-tip="Twitter">
          <a href="<%= Stonesign::TWITTER_URL %>" target="_blank" class="btn btn-circle btn-primary btn-md">
            <%= svg_icon('brand_twitter', class: 'w-8 h-8') %>
          </a>
        </div>
      </div>
      <a href="mailto:<%= Stonesign::SUPPORT_EMAIL %>" target="_blank" class="w-full block mt-4 underline text-center">
        <%= Stonesign::SUPPORT_EMAIL %>
      </a>
      <% if Stonesign.version.present? %>
        <a href="https://github.com/corelabbr/stonesign/releases" target="_blank" class="badge badge-outline text-xs block mx-auto mt-4">
          v<%= Stonesign.version %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
